/* #Color Skins
================================================== */


/* == Color Skin 9 #(SkyBlue)#
=================================== */

/* == Backgrounds
----------------- */
.colorskin-9 .jcarousel-next:hover, .colorskin-9 .jcarousel-next:active,
.colorskin-9 .jcarousel-prev:hover, .colorskin-9 .jcarousel-prev:active , .colorskin-9 nav.primary ul li a:active, .colorskin-9 nav.primary ul li a.selected, .colorskin-9 #headline2, .colorskin-9 .callout a.callurl, .colorskin-9 .servobx, .colorskin-9 #menu-icon:hover, .colorskin-9 #menu-icon.active, .colorskin-9 #scroll-top a:hover, .colorskin-9 .bloxcirc.portx, .colorskin-9 ul#main-ibox li.active9, .colorskin-9 a.readmore, .colorskin-9 .mexibox:hover i, .colorskin-9 .icon-box4:hover i, .colorskin-9 .dropcap3 { background-color:#03acdc; }
/* == TextColors
---------------- */
.colorskin-9 .callout a.callurl a.callurl, .colorskin-9 .blog-date-sp h3, .colorskin-9 a.magicmore-x, .colorskin-9 .acc-trigger a:hover, .colorskin-9 .acc-trigger.active a, .colorskin-9 .acc-trigger.active a:hover, .colorskin-9 #nav a:hover,  .colorskin-9 .nav-wrap2 #nav a:hover, .colorskin-9 #nav li:hover > a, .colorskin-9 #nav li.current a, .colorskin-9 #nav li.current ul li a:hover, .colorskin-9 .ls-layer h3, .colorskin-9 .ls-layer h4, .colorskin-9 h6.blog-cat, .colorskin-9 .icon-colorx i, .colorskin-9 i.icon-colorx, .colorskin-9 .icon-box3:hover i, .colorskin-9 a.magicmore { color:#03acdc; }
/* == BorderColors
------------------ */
.colorskin-9 #nav li:hover > a, .colorskin-9 #nav li.current a, .colorskin-9 #nav ul, .colorskin-9 .port-page-title, .colorskin-9 .port-page-title, .colorskin-9 .portfolio-item img, .colorskin-9 .process-icon { border-color:#03acdc; }
/* == Buttons
------------------ */
.colorskin-9 .button,
.colorskin-9 button, .colorskin-9 a.price-send,
.colorskin-9 input[type="submit"],
.colorskin-9 input[type="reset"],
.colorskin-9 input[type="button"] {
	  background: #03acdc; /* Old browsers */
		 }

.colorskin-9 .button:hover,
.colorskin-9 button:hover, .colorskin-9 a.price-send:hover,
.colorskin-9 input[type="submit"]:hover,
.colorskin-9 input[type="reset"]:hover,
.colorskin-9 input[type="button"]:hover {
	  background: #1db7e3;
		 }


/* == Color Skin 10 #(Orange)#
=================================== */

/* == Backgrounds
----------------- */
.colorskin-10 .jcarousel-next:hover, .colorskin-10 .jcarousel-next:active,
.colorskin-10 .jcarousel-prev:hover, .colorskin-10 .jcarousel-prev:active , .colorskin-10 nav.primary ul li a:active, .colorskin-10 nav.primary ul li a.selected, .colorskin-10 #headline2, .colorskin-10 .callout a.callurl, .colorskin-10 .servobx, .colorskin-10 #menu-icon:hover, .colorskin-10 #menu-icon.active, .colorskin-10 #scroll-top a:hover, .colorskin-10 .bloxcirc.portx, .colorskin-10 ul#main-ibox li.active9, .colorskin-10 a.readmore, .colorskin-10 .mexibox:hover i, .colorskin-10 .icon-box4:hover i, .colorskin-10 .dropcap3 { background-color:#f98805; }
/* == TextColors
---------------- */
.colorskin-10 .callout a.callurl a.callurl, .colorskin-10 .blog-date-sp h3, .colorskin-10 a.magicmore-x, .colorskin-10 .acc-trigger a:hover, .colorskin-10 .acc-trigger.active a, .colorskin-10 .acc-trigger.active a:hover, .colorskin-10 #nav a:hover,  .colorskin-10 .nav-wrap2 #nav a:hover, .colorskin-10 #nav li:hover > a, .colorskin-10 #nav li.current a, .colorskin-10 #nav li.current ul li a:hover, .colorskin-10 .ls-layer h3, .colorskin-10 .ls-layer h4, .colorskin-10 h6.blog-cat, .colorskin-10 .icon-colorx i, .colorskin-10 i.icon-colorx, .colorskin-10 .icon-box3:hover i, .colorskin-10 a.magicmore { color:#f98805; }
/* == BorderColors
------------------ */
.colorskin-10 #nav li:hover > a, .colorskin-10 #nav li.current a, .colorskin-10 #nav ul, .colorskin-10 .port-page-title, .colorskin-10 .port-page-title, .colorskin-10 .portfolio-item img, .colorskin-10 .process-icon { border-color:#f98805; }
/* == Buttons
------------------ */
.colorskin-10 .button,
.colorskin-10 button, .colorskin-10 a.price-send,
.colorskin-10 input[type="submit"],
.colorskin-10 input[type="reset"],
.colorskin-10 input[type="button"] {
	  background: #f98805; /* Old browsers */
		 }

.colorskin-10 .button:hover,
.colorskin-10 button:hover, .colorskin-10 a.price-send:hover,
.colorskin-10 input[type="submit"]:hover,
.colorskin-10 input[type="reset"]:hover,
.colorskin-10 input[type="button"]:hover {
	  background: #eb9634;
		 }


/* == Fix Colors#
=================================== */

.colorskin-1 #nav li.current ul li a, .colorskin-2 #nav li.current ul li a, .colorskin-3 #nav li.current ul li a, .colorskin-4 #nav li.current ul li a, .colorskin-5 #nav li.current ul li a, .colorskin-6 #nav li.current ul li a, .colorskin-7 #nav li.current ul li a, .colorskin-8 #nav li.current ul li a, .colorskin-9 #nav li.current ul li a, .colorskin-10 #nav li.current ul li a { color:#595959; }

