---
layout: application
---

<section class="container" >
  <!-- Start Page Content -->
    <hr class="vertical-space">

    <div class="sixteen columns">

      <div class="flexslider">
        <ul class="slides">
          <li> <img src="images/banner2.jpg" alt=""> </li>
          <li> <img src="images/banner-color.jpeg" alt="">
            <article class="slide-caption">
              <h3>Color</h3>
              <p>Schouvi specializes in rich, vibrant color that last longer and fades slowly without losing its original shade.</p>
            </article>
          </li>
          <li> <img src="images/wedding_hair.jpg" alt="">
            <article class="slide-caption">
              <h3>Formal Events</h3>
              <p>Schouvi brings fashion and class to special occasions.</p>
            </article>
          </li>
        </ul>
      </div>
    </div> <!-- END Slider -->

    <hr class="vertical-space">

    <div class="sixteen columns">
      <div class="one_third" style="margin-right: 25px;">
        <h2>About Schouvi</h2>
        <p style="margin-bottom: 5px;">
          Schouvi is passionate about style, whether it's classic, modern, formal, funky, or straight-up punk, she loves it all. Her specialty is brilliant, vibrant, long-lasting color that looks like it just grew that way - even when it's blue.
        </p>
        <p style="margin-bottom: 5px;">
          Bring your ideas, pictures, and vision to Schouvi and she can make it happen. You can trust Schouvi's creative instincts and consult with her to find your inner awesome.
        </p>
      </div>
      <div class="two_third column-last" style="margin-bottom: 0px;">
        <div class="title">
          <h4>Services</h4>
        </div>
      </div>
        <div class="one_third" style="margin-right: 5px; margin-left: 35px;">
          <ul class="star">
            <li><h7>Hair Cut <span class="subheader">$30</span></h7></li>
            <li><h7>Partial Highlights <span class="subheader">$75</span></h7></li>
            <li><h7>Full Highlights <span class="subheader">$95</span></h7></li>
            <li><h7>Color Accent <span class="subheader">$30</span></h7></li>
            <li><h7>Full Color <span class="subheader">$60</span></h7></li>
          </ul>
        </div>
        <div class="one_third column-last">
          <ul class="star">
            <li><h7>Full Makeup <span class="subheader">$60</span></h7></li>
            <li><h7>Partial Makeup (just eyes) <span class="subheader">$30</span></h7></li>
            <li><h7>Cosmetics Consultation <span class="subheader">$25</span></h7></li>
          </ul>
        </div>
      </div>


    <hr class="vertical-space">

    <div class="sixteen columns">
      <div class="one_third title">
        <h4>Contact Information</h4>
        </br></br>
        <h5><strong><a href="https://www.facebook.com/CuttingCrewPDX">The Cutting Crew</a></strong></h5>
        <p style="margin-bottom: 5px;">
          3621 SE Hawthorne Blvd, </br>
          Portland, OR 97214
        </p>
        <p style="margin-bottom: 5px;">
          schedule@schouvistylist.com</br>
        </p>
          <p style="margin-bottom: -5px;">971.221.0430 </br>
          </p>
          <small><strong>Please note: </strong>Text is the best way to contact Schouvi.
          </small>
      </div>
      <!-- end-contact-info /end -->

      <div class="two_third column-last">
        <hr class="vertical-space">
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2795.8950634755242!2d-122.62631900000002!3d45.512191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a08df5303e19%3A0xee903cd0c75b28ac!2sCutting+Crew!5e0!3m2!1sen!2sus!4v1396638221060" width="719" height="302" frameborder="0" style="border:0"></iframe>
      </div>
    </div> <!-- 1100x378 -->

  <hr class="vertical-space">
  <hr class="vertical-space3">

  <div class="sixteen columns">
    <!-- Start - Photo Gallery -->
    <div class="title">
      <h3>Photo Gallery</h3>
      <hr class="vertical-space">
      <div>
        <!-- SnapWidget -->
        <!-- SnapWidget -->
        <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aWRvZXNoYWlyfGlufDIxNXw1fDR8fG5vfDV8bm9uZXxvblN0YXJ0fHllcw==&v=4414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1100px; height:880px"></iframe>
        <div class="clear"></div>
      </div>
    </div>
  </div><!-- Photo Gallery /end -->
</div>
  <!--  End Tabs -->
  <hr class="vertical-space3">
</section><!-- container -->

