---
layout: application
---




  <hr class="vertical-space">
  <section class="container">
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab"><h3>About Me</h3></a></li>
        <li role="presentation"><a href="#cuts" aria-controls="profile" role="tab" data-toggle="tab"><h3>Cuts & Styles</h3></a></li>
        <li role="presentation"><a href="#color" aria-controls="messages" role="tab" data-toggle="tab"><h3>Color</h3></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="about">
          <div class="sixteen columns">
            <p class="lead">
              I have been cutting, coloring, and styling hair since 2006 and I am passionate about style! Whether it's classic, modern, formal, funky, or straight-up punk, I love it all.
            </p>
            <p class="lead">
              My specialty is color that is brilliant, vibrant, and long-lasting. When I color your hair, I am creating a work of art that you get to wear every day. Please bring your ideas, pictures, and vision with you when you come so I can make it happen. I want to help you find your inner awesome!
            </p>
          </div>
          <div class="sixteen columns">
            <div class="one_third title">
              <h4>Contact Information</h4>
              </br></br>
              <h5><strong><a href="https://www.facebook.com/CuttingCrewPDX">The Cutting Crew</a></strong></h5>
              <p style="margin-bottom: 5px;">
                3621 SE Hawthorne Blvd, </br>
                Portland, OR 97214
              </p>
              <p style="margin-bottom: 5px;">
                schedule@schouvistylist.com</br>
              </p>
                <p style="margin-bottom: -5px;">971.221.0430 </br>
                </p>
                <small><strong>Please note: </strong>Text is the best way to contact Schouvi.
                </small>
            </div>
            <!-- end-contact-info /end -->

            <div class="two_third column-last">
              <hr class="vertical-space">
              <div class="overlay" onClick="style.pointerEvents='none'"></div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2795.8950634755242!2d-122.62631900000002!3d45.512191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a08df5303e19%3A0xee903cd0c75b28ac!2sCutting+Crew!5e0!3m2!1sen!2sus!4v1396638221060" width="719" height="302" frameborder="0" style="border:0"></iframe>
            </div>
          </div> <!-- 1100x378 -->
        </div>

        <div role="tabpanel" class="tab-pane" id="cuts">
          <p class="lead">
            I've been cutting and styling hair since 2006.
          </p>
          <p class="lead">
            Not every head needs a $40 haircut. I take the time to customize your cut to fit you perfectly, so the price should fit your cut as well!
            Prices depend on how elaborate your cut is, elaborate layers and longer hair take more time, care, and attention to detail and cost more. For example, the most basic buzz cut starts at $10 while long hair and more elaborate cuts can go up to $40.
          </p>
          <p class="lead">
            These pictures give you a general idea of the range in prices for the amount of work it takes to create the style.
          </p>
          <div class="sixteen columns">
            <div class="one_third">
              <h4><strong>Basic Cuts</strong></h4>
              <!-- SnapWidget -->
              <iframe src="http://snapwidget.com/sc/?u=c2Nob3V2aW11YWh8aW58MTUwfDF8MXx8bm98NXxub25lfHx5ZXN8bm8=&ve=070515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:310px; height:150px"></iframe>
            </div>
            <div class="one_third">
              <h4><strong>Elaborate Short Cuts</strong></h4>
              <!-- SnapWidget -->
              <iframe src="http://snapwidget.com/sc/?u=c2Nob3V2aW11YWh8aW58MTUwfDF8MXx8bm98NXxub25lfHx5ZXN8bm8=&ve=070515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:310px; height:150px"></iframe>
            </div>
            <div class="one_third column-last">
              <h4><strong>Long Cuts</strong></h4>
              <!-- SnapWidget -->
              <iframe src="http://snapwidget.com/sc/?u=c2Nob3V2aW11YWh8aW58MTUwfDF8MXx8bm98NXxub25lfHx5ZXN8bm8=&ve=070515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:310px; height:150px"></iframe>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="color">
          ...
        </div>

      </div><!-- END Tab panes -->

    </div> <!-- END Tab panels -->


    <hr class="vertical-space">

    <hr class="vertical-space">
    <hr class="vertical-space3">

    <div class="sixteen columns">
      <!-- Start - Photo Gallery -->
      <div class="title">
        <h3>Photo Gallery</h3>
        <hr class="vertical-space">
        <div>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MTI1fDR8Nnx8bm98MTB8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=070515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <!-- SnapWidget -->
          <div class="clear"></div>
        </div>
      </div>
    </div><!-- Photo Gallery /end -->
    <!--  End Tabs -->
    <hr class="vertical-space3">
  </section><!-- container -->

