---
layout: application
---

<section class="container">

  <!-- Question #1 -->
  <span class="acc-trigger active"><a href="#"><strong>About Schouvi</strong></a></span>
  <div class="acc-container">
    <article class="content">
      <div class="sixteen columns">
        <p>
          I have been cutting, coloring, and styling hair since 2006 and I am passionate about style! Whether it's classic, modern, formal, funky, or straight-up punk, I love it all.
        </p>
        <p>
          My specialty is color that is brilliant, vibrant, and long-lasting. When I color your hair, I am creating a work of art that you get to wear every day. Please bring your ideas, pictures, and vision with you when you come so I can make it happen. I want to help you find your inner awesome!
        </p>
      </div>
      <div class="sixteen columns">
        <div class="one_third title">
          <h4>Contact Information</h4>
          <hr class="vertical-space2">
          <article class="icon-box-contact icon-colorx">
            <i class="icomoon-bubble-star"></i>
            <h4><strong>Text Me:</strong> <span class="contact-min">971.221.0430</span></h4>
            <p style="font-size: .8em; margin-left: 60px;">
              <em>Note: Text is the best way to contact me.</em>
            </p>
            <div class="clear"></div>
            <i class="icomoon-envelop"></i>
            <h4><strong>Email me:</strong><span class="contact-min"> schedule@schouvistylist.com</span></h4>
            <p style="font-size: .8em; margin-left: 60px;">
              <em> </em>
            </p>
            <div class="clear"></div>
            <i class="icomoon-location"></i>
            <h4><strong>Find me at</strong> <a href="https://www.facebook.com/CuttingCrewPDX">The Cutting Crew</a></h4>
            <p style="font-size: .8em; margin-left: 60px;">
              <em>3621 SE Hawthorne Blvd, Portland, OR 97214</em>
            </p>
          </article>
        </div>
        <!-- end-contact-info /end -->

        <div class="two_third column-last">
          <hr class="vertical-space">
          <div class="overlay" onClick="style.pointerEvents='none'"></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2795.8950634755242!2d-122.62631900000002!3d45.512191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a08df5303e19%3A0xee903cd0c75b28ac!2sCutting+Crew!5e0!3m2!1sen!2sus!4v1396638221060" width="719" height="302" frameborder="0" style="border:0"></iframe>
        </div>
      </div> <!-- 1100x378 -->
    </article>
  </div>

  <div class="clear"></div>
  <!-- Question #2 -->
  <span class="acc-trigger"><a href="#"><strong>Cut & Style</strong></a></span>
  <div class="acc-container">
    <article class="content">
      <p>
        I've been cutting and styling hair since 2006.
      </p>
      <p>
        Not every head needs a $40 haircut. I take the time to customize your cut to fit you perfectly, so the price should fit your cut as well!
        Prices depend on how elaborate your cut is, elaborate layers and longer hair take more time, care, and attention to detail and cost more. For example, the most basic buzz cut starts at $10 while long hair and more elaborate cuts can go up to $40.
      </p>
      <p>
        These pictures give you a general idea of the range in prices for the amount of work it takes to create the style.
      </p>
      <div class="sixteen columns">
        <div class="one_fourth snapwidget">
          <h4><strong>Basic Cut</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MzAwfDJ8Mnx8bm98NXxub25lfHxub3x5ZXM=&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
            <ul class="star">
              <li>Kids: $15</li>
              <li>Buzz: $10</li>
              <li>Neck Trim: $5</li>
              <li>Bang Trim: $8</li>
            </ul>
            <hr>
        </div>

        <div class="one_fourth snapwidget">
          <h4><strong>Short Cuts</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MzAwfDJ8Mnx8bm98NXxub25lfHxub3x5ZXM=&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
            <ul class="star">
              <li>Above the ear: $25</li>
              <li>Shoulder length: $35</li>
            </ul>
            <hr>
        </div>
      </div>
      <div class="sixteen columns">
        <div class="one_fourth snapwidget">
          <h4><strong>Long Cuts</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MzAwfDJ8Mnx8bm98NXxub25lfHxub3x5ZXM=&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
            <ul class="star">
              <li>Kids: $15</li>
              <li>Buzz: $10</li>
              <li>Neck Trim: $5</li>
              <li>Bang Trim: $8</li>
            </ul>
            <hr>
        </div>

        <div class="one_fourth snapwidget">
          <h4><strong>Styling</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MzMwfDJ8Mnx8bm98NXxub25lfHxub3x5ZXM=&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
          <ul class="star">
            <li>Wash and Blow Dry: $20</li>
            <li>Simple Styling with flat iron only: $15</li>
            <li>Formal event styling <em>(prices vary based on style)</em>: starting at $80+</li>
          </ul>
          <hr>
        </div>
      </div>
    </article>
  </div>

  <div class="clear"></div>
  <!-- Question #3 -->
  <span class="acc-trigger"><a href="#"><strong>Color</strong></a></span>
  <div class="acc-container">
    <article class="content">
      <div class="sixteen columns">

        <!-- BEGIN Full Color -->
        <div class="one_fourth snapwidget">
          <h4><strong>Full Color</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MzAwfDJ8Mnx8bm98NXxub25lfHxub3x5ZXM=&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
            <ul class="star">
              <li>Full Color: $75</li>
            </ul>
            <hr>
        </div><!-- END Full Color -->

        <!-- BEGIN Single Panel & Partial Color -->
        <div class="one_fourth snapwidget">
          <h4><strong>Single Panel of Color <br>& Partial Color</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MTAwfDJ8Mnx8bm98NXxub25lfHx5ZXN8eWVz&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
          <ul class="star">
            <li>Partial color: $75</li>
            <li>Single panel of color: $40</li>
          </ul>
          <hr>
        </div><!-- End Single Panel & Partial Color -->

        <div class="clear"></div>

        <!-- BEGIN Root Touch-up-->
        <div class="one_fourth snapwidget">
          <h4><strong>Root Touch-Up</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MzAwfDJ8Mnx8bm98NXxub25lfHxub3x5ZXM=&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
          <h4><strong>Prices</strong></h4>
          <ul class="star">
            <li>Full Root Touch-Up: $65</li>
          </ul>
          <hr>
        </div><!-- END Root Touch-up-->

        <!-- BEGIN Highlights -->
        <div class="one_fourth snapwidget">
          <h4><strong>Highlights</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MTAwfDJ8Mnx8bm98NXxub25lfHx5ZXN8eWVz&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="one_fifth" style="margin-top:5%;">
        <h4><strong>Prices</strong></h4>
          <ul class="star">
            <li>Partial highlights: $75</li>
            <li>Full highlights: $95</li>
            <li>Multiple color highlights: $125</li>
          </ul>
          <hr>
        </div><!-- END Highlights -->

        <div class="clear"></div>

        <!-- BEGIN Ombre & Balayage -->
        <div class="one_fourth snapwidget">
          <h4><strong>Ombre & Balayage</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MTAwfDJ8Mnx8bm98NXxub25lfHx5ZXN8eWVz&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="two_third column-last" style="margin-top:2%;">
          <h4><strong>Prices</strong></h4>
          <ul class="star">
            <li>
              <strong>Prices start at $100</strong>.
            </li>
            <li>
              Balayage and Hombre are time-intensive, highly involved treatments and can vary widely in time and cost. <br>Cost varies depending on several factors like what you want done and how much hair you have.
            </li>
            <li>
              <strong>A consultation is <em>essential</em> for color corrections.</strong>.
            </li>
            <li>
              <em>Call for a consultation to learn more.</em>
            </li>
          </ul>
          <hr>
        </div> <!-- END Ombre & Balayage -->

        <div class="clear"></div>

        <!-- BEGIN Color Correction & Multiple Colors -->
        <div class="one_fourth snapwidget">
          <h4><strong>Color Correction <br>& Multiple Colors</strong></h4>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MTAwfDJ8Mnx8bm98NXxub25lfHx5ZXN8eWVz&ve=080515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <a href="">See more examples here</a>
        </div>
        <div class="two_third column-last" style="margin-top:2%;">
          <h4><strong>Prices</strong></h4>
          <ul class="star">
            <li>
              <strong>Prices start at $150</strong>.
            </li>
            <li>
              Color correction is often a special case and can vary widely in time and cost.
            </li>
            <li>
              Cost varies depending on several factors like what you want done and how much hair you have.
            </li>
            <li>
              <strong>A consultation is <em>essential</em> for color corrections.</strong>.
            </li>
            <li>
              Extreme color corrections or changes that take more than five hours are subject to a $60 hourly rate for each hour over the initial five.
            </li>
          </ul>
          <hr>
        </div><!-- END Color Correction & Multiple Colors -->


        <div class="clear"></div>
        <!-- BEGIN Special Deal For New Clients -->
        <div class="sixteen columns">
        <div class="title">
          <h3>Special Deal For New Clients</h3>
        </div>
          <div class="one_fifth" style="max-width: 100px; margin-right: 25px;">
            <article class="icon-box3">
              <i class="icomoon-star-4"></i><br>
            </article>
          </div>

          <div class="column-last">
            <h4>Get 30% Off When You Send Me A Selfie!</h4>
            <p>
              If I've never touched your hair before, it can be hard to say exactly what you need, how much it will cost, and how long it will take. Sooo, I'm offering a one time deal for new clients!
            </p>
            <p>
              You can get 30% off of your first color if you send me a selfie so I can see what I'm working with.
            </p>
          </div>
          <!-- END Special Deal For New Clients -->
        <div class="clear"></div>
    </article>
  </div><!-- end-accordion -->
<!-- </section> -->




  <div class="clear"></div>


    <hr class="vertical-space3">


<!-- style="min-height: 1670px;" -->
    <div class="sixteen columns">
      <!-- Start - Photo Gallery -->
      <div class="title">
        <h3>Photo Gallery</h3>
        <hr class="vertical-space">
        <div>
          <!-- SnapWidget -->
          <script src="http://snapwidget.com/js/snapwidget.js"></script>
          <iframe class="snapwidget3" src="http://snapwidget.com/in/?u=c2Nob3V2aW11YWh8aW58MTI1fDR8Nnx8bm98MTB8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=070515" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
          <!-- SnapWidget -->
          <div class="clear"></div>
        </div>
      </div>
    </div><!-- Photo Gallery /end -->
    <!--  End Tabs -->
    <hr class="vertical-space3">
  </section><!-- container -->

