---
layout: application
---

<section class="container" >
  <!-- Start Page Content -->
    <hr class="vertical-space">

    <!-- Begin Slider -->
    <div class="sixteen columns">

      <div class="flexslider">
        <ul class="slides">
          <li> <img src="images/banner2.jpg" alt=""> </li>
          <li> <img src="images/banner-color.jpeg" alt="">
            <!-- <article class="slide-caption">
              <h3>Color</h3>
              <p>Schouvi specializes in rich, vibrant color that last longer and fades slowly without losing its original shade.</p>
            </article> -->
          </li>
          <li> <img src="images/wedding_hair.jpg" alt="">
            <!-- <article class="slide-caption">
              <h3>Formal Events</h3>
              <p>Schouvi brings fashion and class to special occasions.</p>
            </article> -->
          </li>
        </ul>
      </div>
    </div>
    <!-- END Slider -->

    <!-- Begin Mobile Slider -->
    <!-- <div class="sixteen columns mobileslider">

      <div class="flexslider">
        <ul class="slides">
          <li> <img src="images/banner2.jpg" alt=""> </li>
          <li> <img src="images/banner-color.jpeg" alt="">

          </li>
          <li> <img src="images/wedding_hair.jpg" alt="">

          </li>
        </ul>
      </div>
    </div> -->
    <!-- END Mobile Slider -->

    <hr class="vertical-space3">

    <!-- Begin About Schouvi -->
    <div class="sixteen columns title">
      <h4>About Schouvi</h4></br></br>
      <div class="one_fourth">
        <img src="images/schouvi-bio.jpg" alt="">

      </div>
      <div style="margin-right: 25px;" class="three_fourth column-last">
        <p class="lead">
          Schouvi is passionate about style, whether it's classic, modern, formal, funky, or straight-up punk, she loves it all. Her specialty is brilliant, vibrant, long-lasting color that looks like it just grew that way - even when it's blue.
        </p>
        <p class="lead">
          Bring your ideas, pictures, and vision to Schouvi and she can make it happen. You can trust Schouvi's creative instincts and consult with her to find your inner awesome. For details about services and pricing, text, call, or email Schouvi.
        </p>
      </div>
    </div>
    <!-- End About Schouvi -->

    <hr class="vertical-space">

    <!-- Begin Contact Info -->
    <div class="sixteen columns">
      <div class="two_third title">
        <h4>Contact Information</h4>
        </br></br>
        <div class="row">
          <hr class="vertical-space">
          <div class="sixteen columns">
            <!-- Start - Icon Boxes -->
            <ul>
              <li>
                <article class="icon-box icon-colorx"> <a href="tel:971-221-0430"><i class="icomoon-phone-3"></i>
                  <h5><strong class="color">(971) 221-0430</strong> <small><em>**texting is preferred.</em></small></h5></a>
                </article>
              </li>
              <li>
                <article class="icon-box icon-colorx"> <a href="mailto:schedule@schouvistylist.com"><i class="icomoon-envelop-2"></i>
                  <h5><strong class="color">schedule@schouvistylist.com</strong></h5></a>
                </article>
              </li>
              <li>
                <article class="icon-box icon-colorx"> <a href="https://www.instagram.com/schouvimuah/"><i class="icomoon-instagram"></i>
                  <h5><strong class="color">schouvimuah</strong></h5></a>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <!-- End Contact Info -->


        <!-- Map -->
        <!-- <div class="overlay" onClick="style.pointerEvents='none'"></div>
          <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2795.8950634755242!2d-122.62631900000002!3d45.512191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a08df5303e19%3A0xee903cd0c75b28ac!2sCutting+Crew!5e0!3m2!1sen!2sus!4v1396638221060" width="100%" height="302" frameborder="0" style="border:0"></iframe>
        </div><!-- 1100x378 -->

  <hr class="vertical-space3">

</section><!-- container -->

